<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Drivers License Authentication</title>
</head>

<body>
    <div class="container">
      <div class="row">
        <div class="container mt-5">

            <div class="row justify-content-center align-items-center text-center p-2">
                <div class="m-1 mt-5 col-sm-8 col-md-6 col-lg-4 shadow-sm p-3 mb-5 bg-white border rounded">
                    <div class="pt-5 pb-5">
                        <p class="text-center text-uppercase"> <b>Drivers License Authentication</b></p>
                         <form  action="http://iaas-env.eba-aykcnmq8.ap-south-1.elasticbeanstalk.com/pan_authentication/" method="POST" class="mt-3" >
              <hr/>

               <div class="form-group">
                   <label>Request ID: {{workflow_id}}</label>
                <input type="text" name="workflow_id"  id="workflow_id" value={{workflow_id}} class="form-control" readonly hidden>
              </div>
                <div class = "row">
                    <div class="col-6">
                        <label><b>User Consent: </b></label>
                    </div>
                    <div class="col-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="consent" id="consent_yes" value="Y">
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="consent" id="consent_no" value="N">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>
                </div>

                <div class = "row">
                    <div class="col-6">
                        <label><b>DL number: </b></label>
                    </div>
                    <div class="col-6">
                        <div class="form-check form-check-inline">
                             <input type="text" name="driver_license" id="driver_license" class="form-control" required>
                        </div>
                    </div>
                </div>

                 <div class = "row">
                    <div class="col-6">
                        <label><b>Date of Birth: </b></label>
                    </div>
                    <div class="col-6">
                        <div class="form-check form-check-inline">
                             <input type="date" name="dob" id="dob" class="form-control" required>
                        </div>
                    </div>
                </div>

                 <div class = "row">
                    <div class="col-6">
                        <label><b>Additional Details: </b></label>
                    </div>
                    <div class="col-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="additionalDetails" id="additionalDetails_yes" value=True>
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="additionalDetails" id="additionalDetails_no" value=False>
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>
                </div>


              <hr/>
                <button type="button"  class="btn btn-info pull-right" onclick="make_api_call();">Authenticate Drivers License</button>

          </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" ></script>
    <script>

        function make_api_call(data) {
          details = {}
          details['workflow_id'] = document.getElementById('workflow_id').value;
          details['driver_license'] = document.getElementById('driver_license').value;
          details['dob'] = document.getElementById('dob').value;
          details['additionalDetails'] = $("input[name='additionalDetails']:checked").val();
          details['consent'] = $("input[name='consent']:checked").val();
          var api_input = JSON.stringify(details)
          console.log(api_input)

          $.ajax({
              type:"POST",
              url: "{% url 'karza_driver_license_authentication' %}",
              contentType: "application/json; charset=utf-8",
              data: api_input,
              success: function (data, status, jqXHR) {
                    console.log('come here 730');
                    console.log(data);
                    window.location.href = "/workflows/"
              },
              error: function (jqXHR, status, err) {
                  alert("Local error callback."+err);
              }
          });
        }


    </script>
  </body>
